---
export const prerender = false;

const discogsKey = import.meta.env.DISCOG_TOKEN;
const userName = "lisa_luijk";
const discogsURL = `https://api.discogs.com/users/${userName}/collection/folders/0/releases?token=${discogsKey}&per_page=100&sort=artist`;
const response = await fetch(discogsURL);
const data = await response.json();
const records = data.releases;

// source gpt
const url = Astro.url;
// const url = document.url;

const genres = url.searchParams.getAll("genres");
const time = url.searchParams.get("listenTime");

// console.log(url)
// console.log(genres)
// console.log("this is the url!!!!");
// console.log(Astro.request.url);

// let displayRecords = records

// console.log(records)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Results</title>
		<link rel="stylesheet" href="./src/styles/style.css" />
	</head>
	<body>
		<h1>Your results:</h1>

		<p>{genres}</p>
		<p>{time}</p>

		<ul id="recordList"></ul>

		<script define:vars={{ records, url, genres, time }}>

			const chosenGenres = genres;


			const recordsList = document.querySelector("#recordList");
			const recordsListItems =
				document.querySelectorAll("#recordList > *");
			console.log(recordsListItems);

			

			
			let displayRecords = records;

			const list = document.querySelector("#recordList");

		
			function renderList(selectedGenre) {
				list.innerHTML = "";

			
				const filtered = displayRecords.filter((record) => {
					const recordGenres = record.basic_information.genres || [];

					return chosenGenres.some((g) => recordGenres.includes(g));
				});

				filtered.forEach((record) => {
					const masterURL = record.basic_information.master_url
					console.log(masterURL)

					

					// changed await to async
					async function getTrackDuration() {
					
						const masterResponse = await fetch(masterURL);
						const masterData = await masterResponse.json();
						const masterInformation = masterData.releases;
					}

					getTrackDuration()
					// console.log(masterInformation)

					const li = document.createElement("li");

					const img = document.createElement("img");
					img.src = record.basic_information.cover_image;
					img.alt = record.basic_information.title;

					const title = document.createElement("p");
					title.textContent = record.basic_information.title;

					li.appendChild(img);
					li.appendChild(title);

					list.appendChild(li);
				});

				console.log(displayRecords)

			}

			//  show all records already
			renderList(genres[0]);
		</script>
	</body>
</html>
